
@{
    ViewBag.Title = "Ruudukko";
}

<h2>Ruudukkotestiä</h2>
<!--Roskakorin kuva, jonka saa hakemalla glyht avulla bootstrap sivuilta-->
<button class="btn btn-info"> Poista <span class="glyphicon glyphicon-trash"</span></button> 
<p>&nbsp;</p> <!--tyhjä rivi-->

<div class="row" <!--sarakkeissa col, ja niiden leveydet näkyy, nyt medium sarake md-->
    <div class="col-md-6" style="background-color: aqua">Vasen sarake koko md</div>
    <div class="col-md-6"style="background-color: orangered">Oikea sarake</div>
</div>

<div class="row" <!--sarakkeissa col, ja niiden leveydet näkyy, nyt small  sm sarake -->
    <div class="col-sm-6" style="background-color: greenyellow">Vasen sarake 2 koko sm</div>
    <div class="col-sm-6"style="background-color: pink">Oikea sarake 2</div>
</div>

<div class="row" <!--sarakkeissa col, ja niiden leveydet näkyy, nyt extra small xs, jolloin kaikki sarakeet näytetään rinnakkain -->
    <div class="col-xs-6" style="background-color: gray">Vasen sarake 3 koko xs</div>
    <div class="col-xs-6"style="background-color: yellow">Oikea sarake 3</div>
</div>
